.tag {
    display: flex;
    width: 90%;
    align-items: center;
    height: 90%;
}

header {
    border: solid blue;
}

main {
    border: solid red;
}

footer {
    border: solid green;
}

nav {
    border: solid yellow
}